$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
	 background-color: #ccffdd;
	 color: #6b6b47;
	 font-family: Verdana, Geneva, sans-serif;
}

a {
   position: relative;
   color: #999966;
   left: 1%;
   top: 1em;
 }

 a:hover {
   color: #6b6b47;
   text-decoration: none;
 }


.form-container {
	position: absolute;
    left: 40%;
    top: 30%;
}

h1 {
	margin-left: 20%;
}

#btn-login {
   float:left;
   background-color:#66ff66;
   border: 0.05em solid #33ff33;
   opacity: 0.85;
   width: 7em;
   font-size : 1em;
   outline:none;
}
#btn-login:hover {
   background-color: #33ff33;
   border: 0.05em solid #00e600;
   color: black;
}  

#btn-login:active {
   background-color: #00e600;
   border: 0.05em solid #00e600;
   color: black;
}

#btn-reg {
   float:right;
   background-color: #80dfff;
   border: 0.05em solid #4dd2ff;
   opacity: 0.85;
   width: 7em;
   font-size : 1m;
   outline:none;
}
#btn-reg:hover {
   background-color: #4dd2ff;
   border: 0.05em solid #1ac6ff;
   color: black;
}  

#btn-reg:active {
   background-color: #1ac6ff;
   border: 0.05em solid #1ac6ff;
   color: black;
}

.btn-wrapper {
	display:inline-block;
	width:100%;
    text-align: center;
}





