$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


body {
  background-color: #ccffdd;
  font-family: Verdana, Geneva, sans-serif;
}

a {
  position: relative;
  color: #b8b894;
  left: 1%;
  top: 1em;
}

a:hover {
  color: #6b6b47;
  text-decoration: none;
}

.btnwrapper {
  position: absolute;
  left: 40%;
  top: 50%;
}

.btn {
  display: inline-block;
  margin-right: 0.005em;
  background-color: #dfbf9f;
  color: #3b2712;
}

.btn:hover {
  background-color: #d2a679;
  color: black;
}  

.btn:active {
  background-color: #cc9966;
  color: black;
}

.logwrapper {
  position: absolute;
  left: 36%;
  top: 20%;
}

