$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


body {
  background-color: #ccffdd;
  font-family: Verdana, Geneva, sans-serif;
}

a {
  position: relative;
  color: #b8b894;
  left: 1%;
  top: 1em;
}

a:hover {
  color: #6b6b47;
  text-decoration: none;
}

.btnwrapper {
  position: absolute;
  left: 30em;
  top: 32em;
}

.btn {
  display: inline-block;
  margin-right: 0.005em;
  background-color: #80dfff;
  border: 0.05em solid #4dd2ff;
  opacity: 0.85;
  width: 10em;
  font-size : 1m;
  outline:none;
}

.btn:hover {
  background-color: #d2a679;
  background-color: #4dd2ff;
  border: 0.05em solid #1ac6ff;
  color: black;
}  

.btn:active {
  background-color: #cc9966;
  background-color: #1ac6ff;
  border: 0.05em solid #1ac6ff;
  color: black;
}

.logwrapper {
  position: absolute;
  left: 25em;
  top: 12em;
}

.container {
  position:relative;
}

#cancel {
   background-color: #80dfff;
   border: 0.05em solid #4dd2ff;
   opacity: 0.85;
   width: 7em;
   font-size : 1m;
   outline:none;
}
#cancel:hover {
   background-color: #4dd2ff;
   border: 0.05em solid #1ac6ff;
}  

#cancel:active {
   background-color: #1ac6ff;
   border: 0.05em solid #1ac6ff;
}

#search {
   background-color:#ddccff;
   border: 0.05em solid #bb99ff;
   opacity: 0.85;
   width: 7em;
   font-size : 1em;
   outline:none;
}
#search:hover {
   background-color: #bb99ff;
   border: 0.05em solid #9966ff;
}  

#search:active {
   background-color: #9966ff;
   border: 0.05em solid #9966ff;
}