<!DOCTYPE html>
<html>	
  <head>
  	<link rel="stylesheet" type="text/css" href="../styles/main.css">
  </head>

	<div class="modal-header">
		<h3 class="modal-title">Result</h3>
	</div>
	<div class="modal-body">
		This will show you some delicious recipe!
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="submit" id="search" ng-click="ok();">Search</button>
		<button class="btn btn-default" type="button" id="cancel" ng-click="close();">Cancel</button>
	</div>


 </html>